<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Registrar</title>
</head>
<body>

<h2>Registrar<h2>

    <form action="/" method="POST">
        <div>
            <label> Informe o titulo do Livro:</label> 
            <input type="text" required id="titulo">
        </div>
        <div>
            <label> Informe a Editora do Livro:</label>
            <input type="email" required id="email" >
        </div>
        <div>
            <label> Informe o ISBN do Livro:</label>
            <input type="email" required id="confirmaEmail" >
        </div>
        <br />
        <button type="submit">Incluir</button>
        <button><a href="/listarLivros">Todos</a></button>
    </form>

</body>
</html>