<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastre-se</title>
    <link rel="stylesheet" href="../css/cadastro.css">

</head>
<body>
    
    <div class="main">


    <div class="card">  
        <h2>Realize seu cadastro</h2>
        <div class="form">
            <div>
                <label> Informe o titulo do Livro:</label> 
                <input type="text" required id="titulo">
            </div>
            <div>
                <label> Informe a Editora do Livro:</label>
                <input type="email" required id="email" >
            </div>
            <div>
                <label> Informe o ISBN do Livro:</label>
                <input type="email" required id="confirmaEmail" >
            </div>
            <button onclick="Cadastrar()" id="cadastrar">  Confirmar cadastro  </button>
        </div>
    </div>
</body>

<script src="../js/cadastro.js"> </script>

</html>