<html>
<head>
  <title>LIVRARIA</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div style="margin:100px;">
   
<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <a class="navbar-brand" href="/">LIVRARIA</a>
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/">CADASTRAR LIVROS</a>
      </li>
      <li>
        <a href="/about">LISTA DE AUTORES</a>
      </li>
      <li>
        <a href="/about">CADASTRO DE AUTORES</a>
      </li>
    </ul>
  </div>
</nav>
    <div class="jumbotron"  style="padding:40px;">
        <h2>Lista de Autores Cadastrados</h2>

        <ul>
             <li><a href="/livros"> Nome: {{ Autor.nome }}, Nacionalidade: {{ Autor.nacionalidade }}</a></li>
        </ul>
    
        <button><a href="/"> PÁGINA INICIAL </a></button>
    </div>
  </div>
</body>
</html>