<form>
    <p>Título</p>
    <input type="text" name="titulo">
    <p>Autor</p>
    <input type="text" name="Autor">
    <p>Editora</p>
    <input type="text" name="Editora">
    <p>ISBN</p>
    <input type="text" name="ISBN">
    <p>Título</p>
    <input type="number" name="Valor">
    <button type="submit">Cadastrar Livro</button>
</form>